---
import ProductList from '@/components/products/ProductList';
import Pagination from '@/components/shared/Pagination.astro';
import MainLayout from '@/layouts/MainLayout.astro';
import { actions } from 'astro:actions';

export const prerender = false;

const { searchParams } = Astro.url;

const page = Number(searchParams.get('page') ?? 1);

if (page < 1) {
  return Astro.redirect('/');
}

const { data, error } = await Astro.callAction(actions.getProductsByPage, {
  page,
});

console.log('error', error);

console.log('ENV', import.meta.env);

if (error) {
  return Astro.redirect('/');
}

if (data.products.length === 0) {
  return Astro.redirect('/?page=1');
}

const { products, totalPages } = data;
---

<MainLayout>
  <h1 class='text-3xl'>Listado de productos</h1>

  <ProductList
    products={products}
    client:idle
  />

  <Pagination totalPages={totalPages} />
</MainLayout>
